<form action="/books/$title.getId()" method="post">
  <label for="inputAuthor">Please enter the Author's name:</label>
  <input id="inputAuthor" name="inputAuthor" type="text">
  <button type="submit" class="btn btn-info">Submit Author</button>
</form>
