<h3 class="heading">Book Entry</h3>
<p></p>
<form action="/authors/new" method="get">
  <label for="inputBook">Please enter the title of the Book:</label>
  <input id="inputBook" name="inputBook" type="text">
  <button type="submit" class="btn btn-info">Submit Name</button>
</form>

<p></p>
<a href="/" class="clickToView">Return to HomePage</a>
<strong class="clickToView">|</strong>
<a href="/books/new" class="clickToView">Find Book In Directory</a>
